.switch {
  width: 450px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 65px;
}

div.sc-dmctIk {
  height: 150;
  width: 50;
  margin-top: -40px;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
